{# src/ASFF/ClubBundle/Resources/views/Le Club/lieuhoraire.html.twig #}

{% extends "ASFFClubBundle::layoutClub.html.twig" %}

{% block body %}

  <h2>Les lieux et horaires d'entraînement</h2>

{% endblock %}