{# src/ASFF/ClubBundle/Resources/views/layoutInfoTech.html.twig #}

{% extends "ASFFCoreBundle::layout.html.twig" %}

{% block title %}
  Infos Techniques - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Informations techniques</h1>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block ocplatform_body %}
  {% endblock %}

{% endblock %}