{# src/ASFF/ClubBundle/Resources/views/Info Tech/reglesdubad.html.twig #}

{% extends "ASFFClubBundle::layoutInfoTech.html.twig" %}

{% block body %}

  <h2>Les règles au badminton</h2>

{% endblock %}