{# src/ASFF/TournoisBundle/Resources/views/Tournois/add.html.twig #}

{% extends "ASFFTournoisBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter un tournois</h2>

  <hr>
  
  {{ include("ASFFTournoisBundle:Tournois:form.html.twig") }}

{% endblock %}