{# src/ASFF/TournoisBundle/Resources/views/Tournois/delete.html.twig #}

{% extends "ASFFTournoisBundle::layout.html.twig" %}

{% block ocplatform_body %}

  <h2>Supprimer un tournois</h2>

  <p>
    Etes-vous certain de vouloir supprimer ce tournois : "{{ tournois.adversaire }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('asff_tournois_delete', {'id': tournois.id}) }}" method="post">
    <a href="{{ path('asff_tournois_view', {'id': tournois.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des tournois
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}