{# src/ASFF/TournoisBundle/Resources/views/Tournois/edit.html.twig #}

{% extends "ASFFTournoisBundle::layout.html.twig" %}

{% block body %}

  <h2>Modifier un tournois</h2>

  <hr>

  {{ include("ASFFTournoisBundle:Tournois:form.html.twig") }}

{% endblock %}