{# src/ASFF/ActualiteBundle/Resources/views/Actu/delete.html.twig #}

{% extends "ASFFActualiteBundle::layout.html.twig" %}

{% block ocplatform_body %}

  <h2>Supprimer une actualité</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'annonce : "{{ actu.titre }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('asff_actualite_delete', {'id': actu.id}) }}" method="post">
    <a href="{{ path('asff_actualite_view', {'id': actu.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'actualité
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}