{# src/ASFF/ActualiteBundle/Resources/views/Actu/edit.html.twig #}

{% extends "ASFFActualiteBundle::layout.html.twig" %}

{% block body %}

  <h2>Modifier un article</h2>

  {{ include("ASFFActualiteBundle:Actu:form.html.twig") }}

{% endblock %}